body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

main {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

aside {
  flex: 1;
}

article {
  flex: 3;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  display: flex;
  gap: 1rem;
}

.image-box {
  flex: 1;
  padding: 1rem;
  border: 1px solid black;
}
